body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

section{
    max-width: 500px;
    max-width: 500px;
    margin: 120px auto;
    background-color: #f2f2f2; 
    padding: 10px;
}
form{
    width: 90%;
    margin: auto;
}
input{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
}
::placeholder{
    color: red;
}

input.valid{
    border-color: #36cc36;
}
input.invalid{
    border-color:red
}